.rightheader{
  text-align: right;
  color: black;
  padding-top: 1pc;
  display: inline;  
}

.leftheader {
    text-align: left;
    color: black;
    padding-top: 1pc;
    display: inline;

}

body {
  color: white;
  text-align: center;
  display: block;
  margin-left: auto;
  margin-right: auto;
  bottom: 50;
}

.input_form {
height: 44px;
width: 590px;
border-radius: 30px;
border: 1px solid #b8bbb3;
padding: 20px;

}
.searchEngine {
    border-radius: 25px;
    border: 1px solid rgb(191, 189, 192);
    padding: 20px; 
    width: 400px;
    height: 15px;
    outline: none;
}

.footerDiv {
background-color: rgb(236, 233, 233);
bottom: 0;
position: fixed;
padding-top: 3px;
color: light rgb(180, 180, 180);
text-align: center;
}